<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MAYDAY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CED71BD91EB2E9D400745697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED71BF21EB2E9D400745697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED71BFD1EB2E9D400745697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
